body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

button:focus {
  outline: 0 !important;
}

/* Header Styles */
.top-bar-section li:not(.has-form) a:not(.button),
.co-account span {
  font-family: canada-type-gibson, sans-serif;
  line-height: 24px;
  padding: 0px;
  margin: 5px 20px 5px 0;
  color: #000000;
  font-weight: 600;
  text-align: center;
  font-size: 11px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
}

.top-bar-section ul li > a.button {
  font-family: canada-type-gibson, sans-serif;
  border-radius: 300px;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  margin: 2px 0;
  letter-spacing: 0.15em;
}

.top-bar-section ul li > a.button:hover {
  color: white;
  background-color: black;
}

/* Countdown Styles */
.co-reminder-header > div {
  padding: 30px 0px;
  background: #3a7dff;
}

.co-reminder-header-title {
  display: none;
}

.co-header-countdown-time div:first-child {
  border-left: 0;
}

.co-header-countdown-time div {
  border-right: 0;
}

.co-countdown-digit {
  font-size: 2rem;
  line-height: 0.8;
  display: block;
  color: white;
  font-weight: 600;
}

.co-countdown-digit-label {
  font-size: 10px;
  color: white;
  font-weight: 600;
  letter-spacing: 0.14em;
  text-transform: uppercase;
}

.co-reminder-header button {
  line-height: 30px;
  border-radius: 300px;
  color: #000;
  background-color: #fff;
  border-color: #fff;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.co-reminder-header button:hover {
  color: white;
}

.co-reminder-header button i {
  display: none;
}

.top-bar-section .co-account-dropdown {
  content: " ";
  margin-top: 40px;
  background-color: #16161d;
  padd: 5px 0;
  border-radius: 2px;
  z-index: 10;
}

.co-account .co-account-dropdown {
  width: 135px;
}

.top-bar-section ul.co-account-dropdown li:not(.has-form) a:not(.button) {
  padding: 0 15px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.4);
  transition: color 0.3s ease-in;
  -webkit-transition: color 0.3s ease-in;
  -moz-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
}

.top-bar-section ul.co-account-dropdown li:not(.has-form) a:not(.button):hover {
  color: white;
}

.co-account-dropdown i {
  display: none;
}

.co-account-dropdown .co-divider {
  display: none;
}

.prayer-box {
  color: black;
}

.prayer-text {
  margin-top: 50px;
}

/* Tabs */
.co-tabs-content {
  padding-bottom: 60px;
}

.co-widgets {
  height: calc(100% + 60px);
  overflow-y: visible;
}

.co-widget-tabs {
  display: flex;
  justify-content: center;
  height: auto;
  margin: 10px 0;
}

.co-widget-tabs li.co-active {
  border-radius: 300px;
  color: white;
}

.co-widget-tabs li {
  padding: 10px 20px;
  font-weight: 600;
  text-align: center;
  font-size: 11px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

/* Table */
table {
  border: 0;
}

table tr.even,
table tr.alt,
table tr:nth-of-type(even) {
  background: inherit;
}

table tbody tr td,
table tr td {
  line-height: 25px;
}

.co-event-day-header h3 {
  color: black;
  font-weight: 700;
}

/* Other */
.co-live-prayer {
  border-radius: 300px;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.co-live-prayer:active,
.co-live-prayer:focus {
  background-color: black;
}

.event-details h2 {
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

/* Type Form */
[data-qa="close-button-mobile"],
[data-qa="popup-close-button"],
.css-141sqqa,
.css-c3b2z2 {
  display: none;
}

.typeform-share {
  display: none;
}

/* Custom Rows */
.cta-row {
  display: flex;
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 0 30px;
}

.cta-column > span {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
}

.cta-column {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
